@import './base/fonts';
@import './base/normalize';
@import './utils/vars';
@import './utils/mixins';
@import './base/reset';
@import './utils/hidden';
@import './base/section';
@import './base/container';
@import './components/header';
@import './components/hero';
@import './components/modal-window';
@import './components/advantages';
@import './components/activity';
@import './components/team';
@import './components/companies';
@import './components/footer-address';
@import './components/socials';
@import './components/subscribe';
@import './components/modal-form';
@import './components/portfolio-header';
@import './components/portfolio-filter';
@import './components/portfolio-gallery';
@import "./desktop/index";
@import "./mobile/index";
@import "./tablet/index";