.filter {
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-left: -8px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.filter__item {
  margin-top: 15px;
  margin-left: 8px;
}

.filter__button {
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: var(--third-title-color);
  transition: background-color var(--temporary-function), color var(--temporary-function),
    box-shadow var(--temporary-function);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.filter__btn {
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: var(--btn-b-radius);
  border: 0;
  padding: 6px 22px;
  min-width: 73px;
}
