.join {
  @media screen and (max-width: 767px) {
    text-align: center;
    // margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.join__header {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.join__list {
  display: flex;
  // justify-content: center;
}
.join__item {
  width: 44px;
  height: 44px;
  & + & {
    margin-left: 10px;
  }
}
.join__link {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  @include centered();
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--temporary-function);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.join__icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
}
