.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

// mobile
@media screen (min-widrh) {
  
}
// @media screen (min-width:480px) and (max-width:767px) { 
 
// }

@media screen and (min-width: 768px) { 
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 1200px) { 
  .container {
    width: 480px;
  }
}