.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(----temporary-function), visibility var(----temporary-function);
  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-white-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(----temporary-function), opacity var(----temporary-function);
  .backdrop.is-hidden & {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.1);
  }
}

.modal__icon {
  fill: #000000;
  transition: fill var(--temporary-function);
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  @include centered();
  border: 1px solid rgba(136, 90, 90, 0.1);
  border-radius: 50%;
  background-color: var(--primary-white-color);
  &:hover .modal__icon {
    fill: var(--accent-color);
  }
}
